h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  background-color: hsl(147, 50%, 47%);
  padding: 20px;
  margin-left: 165px;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h2 {
  background-color: hsla(0, 10%, 90%, 0.6);
  margin: 20px;
  padding: 20px;
  border-bottom: 2px double green;
}
h6 {
  background-color: rgb(85, 143, 85);
  text-align: center;
  color: bisque;
  padding: 10px;
}
hr {
  border-top: 6px solid white;
}
p {
  /* font-size: 18px; */
  margin: 10px;
  line-height: 1.4rem;
}

blockquote {
  border-left: 20px;
  padding: 10px;
  background-color: rgb(190, 221, 190);
}
img {
  margin: 10px;
  float: left;
  border: 2px solid black;
  padding: 5px;
}
a {
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 10px 18px;
  text-decoration: none;
  background-color: green;
  border: 2px solid green;
}
body > a:last-of-type {
  float: right;
}
a:link {
  color: white;
}
/* a:visited {
  color: purple;
} */
a:hover {
  background-color: #fff;
  color: green;
  text-decoration: none;
}
a:active {
  color: red;
}
blockquote {
  border: 2px solid green;
}
